main {
    margin: 25px auto;
    max-width: 800px;
    font-family: 'inclusive', Helvetica, Arial, sans-serif;
}

h2 {
    font-weight: bold;
}

.bio-data {
    display: flex;
    align-items: center;
}

.bio {
    margin-left: 20px;
}

.bio-image-container {
    width: 500px;
}

.bio-image {
    width: 200px;
    border-radius: 50%;
    border: 5px solid black;
}