.header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #090552;
    min-height: 100px;
    max-height: 100px;
    justify-content: center;
    align-items: center;
}