body {
    background-color: #090552;
}
.banner {
    height: 100vh;
    overflow-y: hidden;
}

.banner.active {
    display: inline;
    height: 100vh;
    overflow-y: hidden;
    background-color: #090552;
}

.full {
    width: 100%;
    height: auto;
    object-fit: cover;
}